body {
	max-width: 960px;
	margin: 0 auto 0 auto;
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

header {
	width: 100%;
}

.logo_section {
	/*width: 50%;*/
	/*margin-left: 10px;*/
}

.header_section {
	width: 100%;
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.title_section {
	/*width: 50%;*/
	text-align: right;
	text-transform: uppercase;
	margin-right: 10px;
	flex-grow: 2;
}

.title_section h1 {
	font-size: 3em;
	font-weight: 300;
}

.title_section h2 {
	font-size: 1.5em;
	margin: 10px 0 10px 0;
}

.hero_section {
	margin-bottom: 10px;
}

.featured_section {
	margin-bottom: 20px;
}

.featured_section h2 {
	font-size: 2em;
	margin-bottom: 10px;
	color: #7d97ad;
}

.featured_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured_item {
	text-align: center;
}

.featured_item p {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 300;
}

.featured_item a {
	text-decoration: none;
	color: inherit;
}

.image_container {
	margin: 10px 0 10px 0;
}
